RESERVATION_DATABASE_URL=sqlite:///./reservation.db
RESERVATION_LOGIN_EMAIL_DOMAIN=@isikun.edu.tr
RESERVATION_ALLOW_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:3000
RESERVATION_ENABLE_DEV_TOKEN=false
RESERVATION_RESEND_API_KEY=
RESERVATION_RESEND_DOMAIN=oidb.reservation
RESERVATION_RESEND_FROM_LOCAL_PART=oidbotomasyon.reservation
RESERVATION_RESEND_FROM_NAME=OIDB Reservation
RESERVATION_RESEND_REPLY_TO=
